/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/debugbar/
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/storage/framework/views/*.php
/.postman/
/postman/
cloudflared.exe


# Dev helper scripts
*.py
*.sql
jmeter.log

# Unused/Test Scripts
test_route.php
test-microsite.php
public/test.php

# Java test files
TestScale.java
TestScale.class

# JS/CSS patch and style scripts
patch.cjs
patch.css
scope_styles.cjs
scope_styles.js

# Server error logs
public/error_log